@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
@import "tailwindcss";

@theme {
  --font-indie: 'Indie Flower', cursive;
  --font-permanent: 'Permanent Marker', cursive;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}